h3.node-header {
    font-weight: 500;
}

.node-header {
    width: 100%;
    overflow: hidden;
}

.user-picture {
    width: 70px;
    float: left;
}

.user-picture img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.node-info {
    float: left;
    line-height: 60px;
    color: #666;
}

.tag-icon {
    float: left;
    line-height: 60px;
    padding-right: 10px;
    color: #666;
    padding-left: 10px;
}

.field-name-field-tags {
    float: left;
    line-height: 60px;
}

.field-name-field-tags .field-item {
    display: inline-block;
}

.field-name-field-tags .field-item a {
    display: inline-block;
    float: left;
    padding-right: 5px;
    color: #46c8c8;
}

.field-name-field-tags .field-item a:hover {
    color: #00a185;
}

.node-i {
    padding-right: 10px;
}

span.username {
    font-weight: 600;
}
.node-article{
	padding: 0 15px;
}
.node-i i {
    padding-right: 5px;
}
.field-name-field-body{
	line-height:1.6;
	font-size: 17px;
}
.field-name-field-body a {
    color: #46c8c8;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.field-name-field-body a:hover {
    color: #00a185;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/*.debate-header .container{
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #46c8c8;
    border-left-width: 5px;
}*/


.dt-page-header {
    position: relative;
    background: rgba(0,0,0,.5);
}
.dt-page-header::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 35px 0 0 41px;
    content: "";
}

.dt-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1000;
    overflow: hidden;
    max-height: 280px;
}

.dt-bg img {
    width: 100%;
    height: auto;
}
.dt-header {
    position: relative;
    color: #fff;
    overflow: hidden;
    min-height: 280px;
    opacity: .8;
    padding: 20px 0;
    text-align: center;
}
.dt-header .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
h3.dt-title {
   margin-bottom: 30px;
}
.dt-content{
	margin-top: 20px;font-size: 1em;
}

.debate-sides{
	width: 100%;
	margin:20px 0;
	font-size: 1.4em;
	font-weight: 600;
	overflow: hidden;
}
.debate-sides .debate-side-n{
	float: left;
}
.debate-sides .debate-side-p{
	float: right;
}