h3.node-header {
    font-weight: 500;
}

.node-header {
    width: 100%;
    overflow: hidden;
}

.user-picture {
    width: 70px;
    float: left;
}

.user-picture img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.node-info {
    float: left;
    line-height: 60px;
    color: #666;
}

.tag-icon {
    float: left;
    line-height: 60px;
    padding-right: 10px;
    color: #666;
    padding-left: 10px;
}

.field-name-field-tags {
    float: left;
    line-height: 60px;
}

.field-name-field-tags .field-item {
    display: inline-block;
}

.field-name-field-tags .field-item a {
    display: inline-block;
    float: left;
    padding-right: 5px;
    color: #46c8c8;
}
.field-name-field-tags .field-item a:hover{
	color: #00a185;
	text-emphasis: cursor: default;;
}
.node-i {
    padding-right: 10px;
}

span.username {
    font-weight: 600;
}

.node-i i {
    padding-right: 5px;
}
.field-name-field-body a{
	color: #46c8c8;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;	
}.field-name-field-body a:hover{
	color: #00a185;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}