body{
	font-family:'Microsoft YaHei','Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', Arial, sans-serif;
	background-color:#fff;
    color: rgb(97, 97, 97);
}
a{
	color: #313131;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a:hover{
	text-decoration: none;
	color: #4285f4;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.header_container{
    width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
}
.course-type-bg-wrapper{
    overflow: hidden;
    background: transparent url(http://makeblock.studio/sites/all/themes/makercraft/images/course-typebg.png) repeat-y fixed top;
}
.course-type-bg-wrapper .navheader{
    margin-bottom: 0px;
}
.top_color_bar{
    width: 100%;
    position: absolute;
    z-index: 10000;
}
.top_color_bar .color_bar{
    width:100%;
    float:left;height:3px;background: #46c8c8;
}
.banner{
    height: 60px;
    padding: 20px 0;
    background-color: #f5f5f5;
    letter-spacing: 1px;

}

.front.footer{
    margin-top: 0;
}
.footer{
 
}
.footer li{
    list-style:none
}
.footer .links  {
    margin: 0px auto;
    padding: 10px;
    overflow: hidden;
}
.footer ul.link-ul {
    width: 25%;
    float: left;
    padding: 5px 10px;
    text-align: center;
}
.vip-links{
    margin: 0px auto;
    text-align: center;
}
.vip-links ul li{
    display: inline;
}
.footer-bottom p{
    text-align: center;
}
.footer img.footer_logo{
    width: 180px;
    height: auto;
    margin-right: 20px;
}
/**Front page Css**/

nav.navheader{
    background-color: rgba(34,34,34,.6);
    border: none;
    color: #fff;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}
nav.navheader.front{
    width: 100%;
    z-index: 1000;
    position: absolute;
    margin-bottom: 0px;
    top: 3px;
}

a.makerlogo{
    margin:0;
}
.topbarmenu{
    float: left;
}
nav.topbarmenu ul.menu a{
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
}

nav.topbarmenu ul.menu li.active {
    color: #46c8c8;
}

nav.topbarmenu ul.menu a.active {
    color: #46c8c8;
}

nav.topbarmenu a:hover, nav.topbarmenu a:focus {
    text-decoration: none;
    background: none;
}


@media (min-width: 768px){

    nav.topbarmenu ul.menu{
        padding: 19px;
    }
    nav.insidepage ul.menu{
        padding: 0;
    }
    nav.insidepage ul.menu li{
        padding: 6px 5px;
        margin: 0px 10px;
    }


}
@media (min-width: 768px){
    .slideshow .flexslider{
        border: none;
        width: auto; 
        height: 380px;
        margin-bottom: 20px;
    }
}
 
.slideshow .flexslider{
    border: none;
    width: auto; 
    margin: 0 0 20px 0;  
}
.slideshow .flex-control-nav{
    display: none;
}
.slideshow img{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.topbanner .flexslider{
    border: none;
    width: auto; 
    margin: 0;

}
.topbanner .flex-direction-nav a:before{
    font-size: 28px
}

.topbanner .flex-direction-nav a {
    margin: -55px 0 0;
}

/**Inside Page Css**/
.main-container{
    padding: 15px 0;
}


.recommend-box{
    float: left;
    overflow: hidden;
}

.article-box{
    overflow: hidden;
    float: left;
    width: 100%;
}
.article-box img{
    width: 100%;
}
.main_block.right .block,.whiteblock{
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 15px;
    overflow: hidden;
}
.wrapper-grey{
    background: #f0f4f8;
}
.wrapper-white{
    background: #fff;
}

.text-line {
    position: relative;
    padding: 50px 0;
    text-align: center;
}

.text-line h5 {
    position: relative;
    margin-bottom: 20px;
    font-size: 32px;
    z-index: 1;
    color: #313131;
}

.text-line h5 > span {
    padding: 0 40px;
}
.text-line .line {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    margin-top: -1px;
    z-index: -1;
}
.text-line .subtitle {
    font-size: 16px;
    color: #919191;
}
/**Administration Page Css**/
/**
.node-form ,#user-profile-form{
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}
.input-group {
    display: block;
}
.input-group-btn {
    display: block;
    float: left;
}
.form-control,.input-group .form-control{
    width: 280px;
}
**/
/**Views Css**/
.views_title{
    width: 100%;
    color: #5186f8;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
    text-align: center;
    margin-top: -10px;
    padding-bottom: 10px;
}
.post-box{
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    float: left;
    display: block;
    width: 100%;
}
.post-box:hover,.post-box.views-row-first{
    background: #fff;
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
}
.post-thumb{
    width: 40%;
    padding: 10px;
    float: left;
}
.post-thumb img{
    width: 100%;
    height: auto;
}
.post-content{
    width: 60%;
    padding: 10px;
    float: left;
    height: 260px;
    position: relative;
}
.post-tat{
    width: 100%;
    height: 25px;
}
span.post-title {
    float: left;
}
span.post-time{
    float: right;
    padding-right: 10px;
    color: #969696;
}
span.post-time i{
    padding-right: 10px;
}
.post-summary{
    float: left;
    padding-top: 15px;
    padding-right: 15px;
    color: #969696;
}
.post-message a{
    font-size: 18px;
    color: #323232;
    font-weight: 500;
    text-decoration: none;
}
.post-users{
    position: absolute;
    height: 100px;
    width: 500px;
    bottom: 0;
}
.post-users .user-picture {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.post-users .user-picture img{
    width: 80%;
    height: auto;
    border-radius: 80px;
}

.post-tags{
    width: 180px;
    height: 20px;
    position: absolute;
    left: 100px;
    bottom: 30px;
}
span.post-user a {
    padding-right: 15px;
    text-decoration: none;
}

span.icon_num i{
    font-style: normal;
    padding-right: 8px;
    color: #969696;
}


.masonry-item {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}
.masonry-item img {
     width: 100%;
     height: auto;
}
.masonry-item:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.course-wrapper{
	display: block;
	float: left;
	overflow: hidden;
	width: 100%;
	padding-top: 10px;
}
.course-box {
    padding: 10px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e4ecf3;
    background-color: #fff;
}

.course-box-wrapper{
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.course-box-wrapper:hover{
	transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;	
} 

.course-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.course-box .metas {
    position: relative;
    padding: 10px;
    color: #c1c1c1;
}
.course-title {
    margin-top: 10px;
    padding: 0 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
/**Views Course Css**/
.course-header{
	background: #fff;
	overflow: hidden;
	margin-bottom: 15px;
}

.course-header-img {
    display: block;
    float: left;
    margin: 15px;
}
.course-header-info {
    float: left;
    display: block;
    padding: 10px 0;
}
.course-header-info h2{
    font-size: 20px; 
}
.joinbt-wrapper{
    float: left;
    width: 100%;
    text-align: center;
    padding: 12px;
}
.course-operation{
    float: right;
    width: 238px;
    padding: 12px 15px;
    background-color: #fafafa;
    color: #919191;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.course-view-num i{
    font-size: 26px;
    padding-right: 15px;
}
.course-view-num{
    padding: 22px 0;
    font-size: 22px;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
}
ul.course-share i{
    font-size: 22px;
}
ul.course-share {
    font-size:14px;
    display: block;
    float: left;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
}
ul.course-share li{
    display: block;
    list-style-type: none;
    text-align: center;
    float: left;
    width: 50%;
}

.lessons-info{
    background: #fff;
    padding: 10px;
}  

.lesson-info-tabs ul.nav-tabs > li > a{
    font-size: 16px;
    color: #313131;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 5px 30px 15px;
} 
.lesson-info-tabs ul.nav-tabs > li > a:hover,.lesson-info-tabs ul.nav-tabs > li > a:active,.lesson-info-tabs ul.nav-tabs > li.active > a{
    color:  #46c37b;
    background: #fff;
    border-color: transparent;
    border-bottom-color: #46c37b;
}

.lesson-info-tabs ul.nav-tabs > li.active > a:focus{
    cursor: default;
    background-color: #fff;
    border-bottom-color: #46c37b;
}
li.lesson-list:hover {
    background-color: #f2fae3;
}
ul.lesson-list {
    padding: 0;
}
li.lesson-list {
    padding: 10px 30px;
    list-style: none;
}
li.lesson-list i.fa.fa-circle-o {
    color: #919191;
    padding-right: 30px;
}
 li.lesson-list a{
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
 }
 /**Views lesson Css**/
 .lesson-content{
    width: 960px;
    margin: 0px auto;
    margin-top: 55px;
    padding: 25px;
    background: #ffffff;
    min-height: 900px;
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
 }
 .lesson-content-title{
    font-size: 16px;
    font-weight: bold;
 }