.article-box {
    position: relative;
    margin-bottom: 25px;
}

.article-thumb {
    position: relative;
    top: 0;
    left: 0;
-webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform .4s cubic-bezier(.25,.46,.45,.94);
    transition: transform .4s cubic-bezier(.25,.46,.45,.94);
    transition: transform .4s cubic-bezier(.25,.46,.45,.94),-webkit-transform .4s cubic-bezier(.25,.46,.45,.94);
    
}
.article-thumb:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.article-info {
    position: absolute;
    bottom: 0;
    width: 75%;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    background: #fff;
}
.article-info::after{
position: absolute;
    right: -21px;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 25px 0 0 21px;
    content: "";

	
}
.article-tag {
    position: relative;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: #46c8c8;
    line-height: 12px;
}
.article-tag a{
    color: #46c8c8;
}

h4.article-box-title {
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px 30px 20px 0px;
    margin: 0;
}

h4.article-box-title a:hover {
    color: #46c8c8;	
}

.article-box img {
    width: 100%;
}

.article-box-author a{
    color: #46c8c8;	
}

.article-box-time {}

.view-blog h2 {
    display: none;
}

.view-blog .views-row {
    padding-bottom: 30px;
    border-bottom: 1px dashed #46c8c8;
}