.sidebar-thumb img,.article-thumb img,.topbanner-thumb img{
-webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform .4s cubic-bezier(.25,.46,.45,.94);
    transition: transform .4s cubic-bezier(.25,.46,.45,.94);
    transition: transform .4s cubic-bezier(.25,.46,.45,.94),-webkit-transform .4s cubic-bezier(.25,.46,.45,.94);

}
.sidebar-thumb img:hover,.article-thumb img:hover,.topbanner-thumb img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.sidebar-box{
	overflow: hidden;
	margin-bottom: 20px;
}
.sidebar-thumb {
    overflow: hidden;
    width: 30%;
    float: left;
    position: relative;
}
.sidebar-thumb::after{
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #fff;
	border-style: solid;
	border-width: 16px 0 0 18px;
	content: "";
}
.sidebar-info{
	width: 69%;
	float: left;
	padding-left: 15px;
}
h4.sidebar-box-title{
    font-size: 1em;
    font-weight: 600;
    line-height: 1.4;
    padding: 0px 0px 15px 0px;
    margin: 0;
}

.article-box {
    position: relative;
    margin-bottom: 25px;
}

.article-thumb {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.article-info {
    position: absolute;
    bottom: 0;
    width: 75%;
    padding-top: 18px;
    padding-left: 0;
    padding-right: 0;
    background: #fff;
}
.article-info::after{
position: absolute;
    right: -21px;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 25px 0 0 21px;
    content: "";

	
}
.article-tag {
    position: relative;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 12px;
}
.article-tag a{
    color: #46c8c8;
}
.article-tag a:hover {
    color: #00a185;
}
h4.article-box-title {
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px 30px 15px 0px;
    margin: 0;
}

h4.article-box-title a:hover {
    color: #46c8c8;	
}

.article-box img {
    width: 100%;
    height: auto;
}

.article-box-author a{
    color: #46c8c8;
    font-size: .8em;
}

.article-box-author{
}
.article-box-time {
    font-size: .8em;
    color: #717171;
}
.article-box-time::before{
        padding: 0 5px 0 3px;
    content: "/";
}

.blog-thumb{
	width: 45%;
	float: left;
}
.blog-info{
	width: 55%;
	float: left;
}